<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.snake" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Snake</name>
    <description>
        A PhoneGap app with JQuery Mobile integration.
    </description>
    <author href="https://facebook.com/wwostyle">
        Welisson Oliveira
    </author>
    <content src="index.html" />
    <access origin="*" />

    <!-- PLUGIN TOAST -->
    <gap:plugin name="cordova-plugin-spinnerdialog" source="npm" />
    <gap:plugin name="cordova-plugin-x-toast" source="npm" />

    <platform name="ios">
        <preference name="iosPersistentFileLocation" value="Library" />
        <preference name="StatusBarOverlaysWebView" value="true" />
    </platform>
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Internal" />
    </platform>

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />

    <engine name="android" spec="~5.1.1" />

    

</widget>
